body {
  background-color: #e5e1e2;
  width: 100%;
  height: auto;
}

.color-menu {
    
  
  background-color: #db3444;
    
}


h1 {
  padding: 20px;
  text-align: center;
}
.posicion-texto {
  text-align: center;
}
.btn-danger {
  align-content: center;
}